html {
	background-color: white;
	font-family: "hobo-std", sans-serif;
}

#media-bar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
}

#media-bar-wrapper div {
	position: absolute;
}
