html {
	background-color: white;
	font-family: "hobo-std", sans-serif;
}

#main-container {
	position: absolute;
	top: 0;
	left: 0;
	/*background-image: url("1train-logo-clean.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;*/
}


#media-bar img {
	position: absolute;
}

#links-div {
	position: absolute;
}

.links {
	display: inline;
	font-size: 200%;
}

.links > a {
	color: black;
}

a:hover {
	color: #ff0016;
	text-decoration: underline;
}

#center-div wrapper {
	position: relative;
	width: 100%;
	height: 100%;
}

#media-bar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
}
