html {
	background-color: white;
	font-family: "hobo-std", sans-serif;
}

#main-container {
	position: absolute;
	top: 0;
	left: 0;

}

#media-bar {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
}

#media-bar-wrapper div {
	position: absolute;
}

#left-div-wrapper {
	position: relative;
	width: 100%;
}

#logo {
	position: absolute;
}

#links-div {
	position: absolute;
}

#carousel {
	position: absolute;
	height: 250px;
	width: 250px;
}

#carousel > img {
	height: 200px;
	width: 250px;
	position: relative;
}

#carousel-text {
	position: relative;
	line-height: 200%;
	text-align: center;
	font-size: 150%;
}

.links {
	display: inline;
	font-size: 175%;
}

.links > a {
	color: black;
}

#links-div > .links:first-child > a {
	color: #ff0016;
}

a:hover {
	color: #ff0016;
	text-decoration: none;
}

#grid {
	height: 600px;
	overflow: scroll;
}
